/* Основные шрифт, цвет шр ифта и др. */

body {
  background-color: #ffffff;
  color: $title-color;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

/* Полезное правило для удаления атрибутов в списке */

/* 
.list {
list-style: none;
} */

/* Корисна вставка:  */

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
