// :root {
//   --text-color: #757575;
//   --title-color: #212121;
//   --color-blue: #2196f3;
//   --color-white: #ffffff;
//   --color-black: #000000;
//   --color-red: #990909;
//   --color-footer: #2f303a;
//   --color-whitesemi: rgba(255, 255, 255, 0.6);
//   --color-button-grey: #f5f4fa;
//   --color-button-blue: #188ce8;
// }

$text-color: #757575;
$title-color: #212121;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #990909;
$color-footer: #2f303a;
$color-whitesemi: rgba(255, 255, 255, 0.6);
$color-button-grey: #f5f4fa;
$color-button-blue: #188ce8;

// :root {
//   --text-color: #757575;
//   --title-color: #212121;
//   --color-blue: #2196f3;
//   --color-white: #ffffff;
//   --color-black: #000000;
//   --color-red: #990909;
//   --color-footer: #2f303a;
//   --color-whitesemi: rgba(255, 255, 255, 0.6);
//   --color-button-grey: #f5f4fa;
//   --color-button-blue: #188ce8;
// }
