.clients {
  margin-bottom: 50px;
  color: $title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__logo {
  display: flex;
  padding: 16px 16px;
  background-position: center;
  background-size: contain;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $color-blue;
  }
}

.clients__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $color-blue;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.clients__item {
  display: flex;
  justify-self: center;
  min-width: 170px;
  max-width: 170px;
}
