.hero {
  padding-top: 0;
  height: 600px;
  text-align: center;
  background-color: $color-footer;
  margin: 0 auto 0;
  width: 1600px;
}

.hero__container {
  display: block;
  align-items: center;
}

.hero--overlay {
  margin-left: 0;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img14.jpg");
  background-size: contain;
  background-position: center;
}

.hero__text {
  padding-top: 200px;
  margin: 0 auto 30px;
  width: 696px;
  text-align: center;
  justify-content: center;
  color: $color-white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $color-blue;
  color: $color-white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-button-blue;
  }
}
