.container.header-container {
  display: flex;
  padding: 0 0;
}

.container-team {
  display: flex;
  align-items: center;
  padding: 0;
  /* margin-bottom: 60px; */
}

.hero-iv-team {
  margin: 0 auto;
  text-align: center;
  /* width: 1600px; */
  background-color: var(--color-button-grey);
}

.hero-iv-item {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
}

.hero-iv-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-iv-worker {
  display: block;
  width: 270px;
  text-align: center;
}

.hero-iv-name {
  padding-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 16px;
  line-height: 1.17;
}

.hero-iv-text {
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-blue);
}

.social-link:hover .soc,
.social-link:focus .soc {
  fill: var(--color-white);
}
